<div class="botonAtras">
    <button (click)="goBack()"> < </button>
    </div>

    <div class="selecciona">
    <h1 class="continente"> Selecciona </h1>
    <select>
      <option *ngFor="let continent of continents; index as i;">{{ continent.name }}</option>
    </select>
    </div>
    <!-- Aquí no tengo claro que se va a ver en el recuadro, pretendo que se vea un continente predeterminado -->

    <div class="tarifas">
    <h1 class="nuestrasTarifas"> Nuestras tarifas fijas </h1>
    <div class="tarifa1">
      <h3>24 horas</h3>
      <h1>6 €</h1>
      <h3>por equipaje</h3>
    </div>

    <div class="tarifa2">
      <h3>Día adicional</h3>
      <h1>4 €</h1>
      <h3>por equipaje</h3>
    </div>
    </div>
