

<nav class="navbar">
    <ul>
        <li routerLink="/">
          <img src="../../../assets/home.PNG">
         </li>
        <li routerLink="ubicacion">
          <img src="../../../assets/buscar.PNG">
        </li>
        <li routerLink="/">
          <img src="../../../assets/chat.PNG"></li>
        <li routerLink="usuarios/:id">
          <img src="../../../assets/perfil.PNG">
        </li>
        @if(showBookingsValue){
          <li routerLink="confirmada/reserva">
            <img src="../../../assets/bookings.PNG">
          </li>
        }
    </ul>
</nav>

