@if(establecimiento){
  <div>
    <h2>{{ establecimiento.name }}</h2>
    <img src={{establecimiento.img}} alt={{establecimiento.name}}>
    <p>{{establecimiento.tipoPropiedad}}</p>
    <p>{{establecimiento.tipoEspacio}}</p>
    <p>{{establecimiento.capacidad}}</p>
    <p>Direccion: {{ establecimiento.localizacion }}</p>
    @if(establecimiento.disponible===true){
      <p>Disponible</p>
    }
    <!-- no me dejaba poner else, no se porque -->
    @if(establecimiento.disponible===false){
      <p>No disponible</p>
    }
  </div>
}


