<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h1>Encuentra tu guardian</h1>
        </div>
        <div>
            <form [formGroup]="profileForm" (ngSubmit)="OnSearch()" >    
                
                <input formControlName="addressForm" placeholder="donde de encuentras"  type="text" name="adressForm" id="adressForm">
                <input formControlName="dayPutForm" placeholder="Deposito"  type="date" name="dayPutForm" id="dayPutForm">
                <input formControlName="dayOutForm" placeholder="Retirada"  type="date" name="dayOutForm" id="dayOutForm">
            <button (click)="OnSearch()">Buscar</button>
            </form>
        </div>
        <section>
            <div>
                <h1>Novedades</h1>
                <p>aqui un scroll lateral con el blog con varios blog</p>
            </div>
            <div>
                <h1>Experiencias</h1>
                <p>aqui info añadianco mas con un boton</p>

                <button>Mostrar más</button>
            </div>
        </section>


    </section>
    
</body>
</html>