@if(showLoginForm){
<div class="iniciarSesion">
  <h2 i18n class="iniciar">Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="userName">Username:</label>
    <input type="text" id="userName" formControlName="name" />
    <label i18n for="password">Contraseña</label>
    <input type="password" id="password" formControlName="password" />
   <button i18n type="submit" class="submitButton">Iniciar sesión</button>

  </form>
</div>
<div class="registrate"><p i18n> Si no tienes una cuenta, <button class="registerBtn"(click)="toggleForm()">registrate aquí</button></p></div>



}
@if(!showLoginForm){
<div class="registrarse">
  <h2 i18n>Registrarse</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label i18n for="email">Direccion de correo electronico:</label>
    <input type="text" id="email" formControlName="email" />
    <label for="userName">Username:</label>
    <input type="text" id="userName" formControlName="userName" />
    <label i18n for="name">Nombre:</label>
    <input type="text" id="name" formControlName="name" />
    <label i18n for="surname">Apellidos:</label>
    <input type="text" id="surname" formControlName="surname" />
    <label i18n for="password">Contraseña:</label>
    <input type="password" id="password" formControlName="password" />
    <label i18n for="confirmPassword">Repetir contraseña:</label>
    <input
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword"
    />

    <button i18n type="submit" class="submitButton">Registrarse</button>
  </form>
</div>
<div class="pulsa">
  <p i18n>¿Ya eres miembro? <button class="alreadyMember"(click)="toggleForm()">Pulsa aquí</button> </p>
</div>


}


