@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


h2 {font-family: "Catamaran", sans-serif;
  font-weight: bold;
 
}

p{font-family: "Noto Sans", sans-serif;
font-size: 10px;
}

form {

    padding: 40px;
    border:none;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
   
  input {
    font-family: "Noto Sans", sans-serif;
    width: 90%;
    padding: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    transition: border-color 0.3s ease-in-out;
  }
  input:focus {
    outline: none;
    border-color: #bd8200;
    background-color: #fff1d4;
  }

  
  .submitButton {
    font-family: "Noto Sans", sans-serif;
    background-color:#F68F23;
    color: white;
  width: 30vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 4vh;
    cursor: pointer;
  }

h2 {margin-left: 2vh;
margin-top: 4vh;}

.submitButton:hover {
  background-color: #D17100; 
}
  .alreadyMember {border: none;
    background: none;
    font:bolder;
    outline: none;
  color: #0000ff;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
}
  .registerBtn {border: none;
    background: none;
    font:bolder;
    outline: none;
  color: #0000ff;
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
}
.registrate {
  padding: 20px;
}

.pulsa {padding:20px;}

body{
  height: 94vh;
  width: 100%;
}

.iniciarSesion {height: 90vh;
padding: 20px;}