

<div class="container"> 

    <h2>Descríbenos tu espacio:</h2>
    <form formGroup="anuncioForm">
        <div>
            <label for="titulo">Título de tu propiedad:</label>
            <input type="text" id="titulo" formControlName="titulo">
        </div>
        <div class="custom-select">
            <label for="tipoPropiedad">Tipo de propiedad:</label>
            <select id="tipoPropiedad" formControlName="tipoPropiedad">
               
                    <option value="Casa">Casa</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Establecimiento">Establecimiento</option>
             
                
            </select>
        </div>
        <div class="custom-select">
            <label for="tipoEspacio">Tipo de espacio:</label>
            <select id="tipoEspacio" formControlName="tipoEspacio">
                <option value="Habitación">Habitación</option>
                <option value="Hall">Hall</option>
                <option value="Trastero">Trastero</option>
                <option value="Buhardilla">Buhardilla</option>
                <option value="Garaje">Garaje</option>
                <option value="Habitación">Habitación</option>
            </select>
        </div>
        <div >
            <label for="localización">Localización de tu propiedad:</label>
            <input type="text" id="localización" formControlName="localizacion">
        </div>
        <div class="file-upload">
            <label for="imagen" class="custom-file-upload">
                <i class="fas fa-upload"></i> Subir archivo
            </label>
            <input type="file" id="imagen" formControlName="imagen"/>
        </div>
        
        <div>
            <label for="capacidad">Capacidad de tu propiedad:</label>
            <input type="number" id="capacidad" formControlName="capacidad">
        </div>
        <div class="checkbox">
          
            <div>  <label class="cyberpunk-checkbox-label" for="disponible">¿Disponible?</label></div>
            <div>
                <input type="checkbox" class="cyberpunk-checkbox" id="disponible" formControlName="disponible">
            </div>
           
        </div>
        <button type="submit">Registrar Propiedad</button>
    </form> 
</div>