


<div id="map"></div>



<div>

    @if (isLoading) {  <div>
        <div class="loading-container">
          <div class="loader"></div>
        </div>
        <h1>Cargando mapa...</h1>
      </div>
    
    }
   
@if (!isLoading) {  <div class="selectedLocker">
    <h1>Locker seleccionado</h1>
<h3>Nombre:{{selectedLockerName}} </h3>
<h3>Capacidad de la propiedad: {{selectedLockerCapacity}}</h3>
<h3>Tipo de propiedad: {{selectedLockerPropertySpace}}</h3>
<h3>Tipo de espacio: {{selectedPropertyTipe}}</h3>
<h3>Disponibilidad: {{selectedLockerAvi}}</h3>
<img src="{{selectedLockerImg}}" alt="{{selectedLockerName}}">
<button routerLink="/reserva">Aceptar locker</button>

</div>  
}
  
 
  
  
